a[href]:hover {
	box-shadow: 0 0 4px rgba(0,0,0,.6);
	transform: scale(1.05);
	z-index: 999;
}

g[id="iasm"]:hover {transform: translate(0px, 0px);}
g[id="cprs"]:hover {transform: translate(-23px, 0px);}
g[id="gis"]:hover {transform: translate(0px, -13px);}
g[id="mss"]:hover {transform: translate(-8px, -13px);}
g[id="hnns"]:hover {transform: translate(-20px, -13px);}
g[id="his"]:hover {transform: translate(-30px, -13px);}
g[id="ers"]:hover {transform: translate(-35px, -13px);}
g[id="cfb"]:hover {transform: translate(0px, -23px);}
g[id="blocka"]:hover {transform: translate(-14px, -27px);}
g[id="blockb"]:hover {transform: translate(-14px, -30px);}
g[id="blockc"]:hover {transform: translate(-14px, -33px);}
g[id="blockc"]:hover {transform: translate(-14px, -33px);}
g[id="ba"]:hover {transform: translate(0px, -37px);}
g[id="bb"]:hover {transform: translate(0px, -39px);}
g[id="bc"]:hover {transform: translate(0px, -41px);}
g[id="fam"]:hover {transform: translate(-40px, -37px);}
g[id="pae"]:hover {transform: translate(-53px, -37px);}
g[id="med"]:hover {transform: translate(-40px, -38px);}
g[id="psy"]:hover {transform: translate(-53px, -38px);}
g[id="sur"]:hover {transform: translate(-40px, -39px);}
g[id="ort"]:hover {transform: translate(-53px, -39px);}
g[id="obs"]:hover {transform: translate(-40px, -40px);}
