a[href]:hover {
	box-shadow: 0 0 4px rgba(0,0,0,.6);
	transform: scale(1.02);
	z-index: 999;
}

g[id="iasm"]:hover {transform: translate(0px, 0px);}
g[id="cprs"]:hover {transform: translate(-15px, 0px);}
g[id="gis"]:hover {transform: translate(0px, -13px);}
g[id="mss"]:hover {transform: translate(-5px, -13px);}
g[id="hnns"]:hover {transform: translate(-15px, -13px);}
g[id="his"]:hover {transform: translate(-23px, -13px);}
g[id="ers"]:hover {transform: translate(-30px, -13px);}
g[id="cfb"]:hover {transform: translate(0px, -28px);}
g[id="blocka"]:hover {transform: translate(-10px, -28px);}
g[id="blockb"]:hover {transform: translate(-10px, -33px);}
g[id="blockc"]:hover {transform: translate(-10px, -36px);}
g[id="ba"]:hover {transform: translate(0px, -30px);}
g[id="bb"]:hover {transform: translate(0px, -32px);}
g[id="bc"]:hover {transform: translate(0px, -34px);}
g[id="fam"]:hover {transform: translate(-22px, -33px);}
g[id="pae"]:hover {transform: translate(-33px, -33px);}
g[id="med"]:hover {transform: translate(-22px, -34px);}
g[id="psy"]:hover {transform: translate(-33px, -34px);}
g[id="sur"]:hover {transform: translate(-22px, -35px);}
g[id="ort"]:hover {transform: translate(-33px, -35px);}
g[id="obs"]:hover {transform: translate(-22px, -36px);}
